{% extends 'base.html' %}
{% block content %}
<!--(happy int, excited int, energetic int, angry int, stressed int, tired int, upset int, sad int, calm int, content int, confused int)-->
 <video autoplay loop id="video-background" muted plays-inline>
  <source src="https://player.vimeo.com/external/158148793.hd.mp4?s=8e8741dbee251d5c35a759718d4b0976fbf38b6f&profile_id=119&oauth2_token_id=57447761" type="video/mp4">
</video>
<div class="row">
<h1 class="text-center">Please enter your mood!</h1>
</div>
<br><br>
<form action=" {{ url_for('add_submission')}}" method="post">
  <!--row1-->
<div class="row">
  <div class="col-sm-6">
    <!--slider 1-->
    <div class= "row subrow1">
      <div class="col-sm-4">
        <h4>Happiness Level: </h4>
      </div>
      <div class="col-sm-6">
        <input type="range" name = "happy" value="{{
          request.form.happy }}" >
      </div>
  </div>
<br><br>
    <!--slider 2-->
    <div class= "row subrow2">
      <div class="col-sm-4">
        <h4>Excitment Level: </h4>
      </div>
      <div class="col-sm-6">
        <input type="range" name = "excited" value="{{
          request.form.excited }}" >
      </div>
    </div>
<br><br>
    <!--slider 2-->
    <div class= "row subrow3">
      <div class="col-sm-4">
        <h4>Stress Level: </h4>
      </div>
      <div class="col-sm-6">
        <input id="ex1" data-slider-id='ex1Slider' type="range"  name = "stressed" value="{{
            request.form.stressed}}" data-slider-min="0" data-slider-max="20" data-slider-step="1" data-slider-value="14">
      </div>
    </div>

  </div>

  <div class="col-sm-6">
    <h3>Reasons for your mood: </h3>
            <br><br>
    <div class="btn-toolbar" data-toggle="buttons">
          <label class="btn btn-info button"><input type="checkbox" name = "coursework">Coursework</label>
          <label class="btn btn-info button"><input type="checkbox" name = "exams">Exams</label>
          <label class="btn btn-info button"><input type="checkbox" name= "friends">Friends</label>
          <label class="btn btn-info button"><input type="checkbox" name= "family">Family</label>
          <label class="btn btn-info button"><input type="checkbox" name= "extracurriculars">Extracurriculars</label>
          <label class="btn btn-info button"><input type="checkbox" name= "employment">Employment</label>
    </div>
  </div>

</div>
<div class="row button text-center">
<input type="submit" value="Submit">
</div>


        <!-- <input type="range" id="myRange" name = "level" value="{{
          request.form.level }}" > -->




        <!-- <input type="button" class="btn btn-info" value="coursework">
        <input type="button" class="btn btn-info" value="exams"> -->

        <!-- <input type="text" name="fname">
<br>
        <select data-role="tagsinput">
          <option value="Coursework">Coursework</option>
          <option value="Exams">Exams</option>
          <option value="Friends">Friends</option>
          <option value="Family">Family</option>
          <option value="Extracurriculars">Extracurriculars</option>
          <option value="Employment">Employment</option>
        </select> -->



            <!-- <input type="range" id="myRange" name = "energetic" value="{{
              request.form.level }}" >

          <input type="range" id="myRange" name = "angry" value="{{
                  request.form.level }}" >


          <input type="range" id="myRange" name = "stressed" value="{{
                  request.form.level }}" >


      <input type="range" id="myRange" name = "tired" value="{{
              request.form.level }}" >

        <input type="range" id="myRange" name = "upset" value="{{
                  request.form.level }}" >

      <input type="range" id="myRange" name = "sad" value="{{
              request.form.level }}" >

      <input type="range" id="myRange" name = "calm" value="{{
              request.form.level }}" >

        <input type="range" id="myRange" name = "content" value="{{
            request.form.level }}" >

          <input type="range" id="myRange" name = "confused" value="{{
                  request.form.level }}" >
                   -->

          <!-- <script>
          function myFunction() {
            var x = document.getElementById("myRange").value;
          }
          </script> -->
      </form>




{% endblock %}
